<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>


  <nlog throwsExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="console" xsi:type="Console" layout="${longdate} ${level:uppercase=true:padding=5} | ${message:padding=-150} | ${exception:format=tostring}"/>
      <target name="FileInfo" xsi:type="File" fileName="D:\Logs\PetStore.IntegrationTest\PetStore.IntegrationTest.${shortdate}.log" layout="${longdate} | ${level:uppercase=true:padding=5} | ${message} | ${exception:format=type,tostring}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="console" />
      <logger name="*" minlevel="Trace" writeTo="FileInfo" />
    </rules>
  </nlog>
</configuration>