<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <add name="PetStore" connectionString="Data Source=localhost\sql2012;Initial Catalog=PetStore;Integrated Security=SSPI;"/>
  </connectionStrings>
  <autofac>
    <components>
      <component type="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data" 
                 service="Microsoft.Practices.EnterpriseLibrary.Data.Database, Microsoft.Practices.EnterpriseLibrary.Data" 
                 instance-scope="single-instance" 
                 name="PetstoreDatabase">
        <parameters>
          <parameter name="connectionString" value="Application Name=[Dev] Cyclops.Tests;Data Source=localhost\sql2012;Initial Catalog=Petstore;Trusted_Connection=true;Persist Security Info=True;Connect Timeout=5;" />
        </parameters>
      </component>
    </components>
  </autofac>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <nlog throwsExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="console" xsi:type="Console" layout="${longdate} ${level:uppercase=true:padding=5} | ${message:padding=-150} | ${exception:format=tostring}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="console" />
    </rules>
  </nlog>
</configuration>